:host {
  display: block;
  padding-block-end: 20px;
}

.list-group {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin: 10px;
}

.vehicle-card {
  width: 100%;
  max-width: 405px;
  justify-content: space-between;
}

.vehicle-card__img {
  margin-block: auto;
}

mat-card-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-block: 16px;
  padding-inline: 10px;
  gap: 20px;
  min-height: 145px;
}

mat-card-title {
  border-top: 2px solid black;
  border-bottom: 2px solid black;
}

.mat-card-content__div {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding-block-end: 10px;
}

span {
  color: gray;
  text-align: center;
}
